<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div id="app">

        <div class="container_main ">

            <!-- Left Section -->
            <div class="aside_left">
                <div class="top_aside flex_box bg_second">

                    <!-- Img profile-->
                    <div class="profile">
                        <div class="card_pf margin_1 inline">
                            <img class="profile" :src="contacts[0].avatar" alt="">
                        </div>

                        <!-- name user -->
                        <span class="mid_v">Sofia</span>
                    </div>
                    
                    <!--icon section-->
                    <div class="icons flex_box gap_1 margin_r">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    
                </div>

                <div class="main_left ">
                    <!-- notification block -->
                    <div class="relative bg_not">
                        <div class="margin_1 inline">
                            <div class="card_pf profile bg_first">
                                <i class="fa-solid fa-bell-slash mid"></i>
                            </div>
                        </div>

                        <!-- name user -->
                        <div class="mid_v inline">
                            <span>Ricevi notifiche di nuovi messaggi</span><br>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>

                    <!-- Nav bar -->
                    <div class="flex_box input_t bg_first pad_1">
                        <div class="relative search">
                            <i class="fa-solid fa-magnifying-glass mid"></i>
                        </div>
                        
                        <input class="input_t pad_1" type="text" placeholder="Cerca o inizia una nuova chat">  
                        
                    </div>

                    <!-- section contacts -->
                    <div>

                        <div class="relative bg_first" v-for="(item,index) in contacts" :class="index === activeUser ? 'active' : ''" @click="activeChat(index)">
                            <!-- profile icon -->
                            <div class="card_pf margin_1 inline">
                                <img class="profile" :src="'./assets/img/avatar' + item.avatar + '.jpg'">
                            </div>
    
                            <!-- name user -->
                            <span class="mid_v">{{item.name}}</span>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Right Section -->
            <div class="aside_right flex_col bg_second">
                <!-- user chat attivo -->
                <div class="top_aside flex_box">

                    <!-- Img profile-->
                    <div class="relative">
                        <div class="card_pf margin_1 inline">
                            <img class="profile" :src="'./assets/img/avatar' + contacts[activeUser].avatar + '.jpg'" alt="">
                        </div>

                        <!-- name user -->
                        <span class="mid_v">{{contacts[activeUser].name}}</span>
                    </div>
                    
                    <!--icon section-->
                    <div class="icons flex_box gap_1 margin_r">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    
                </div>

                <!-- sezione messaggi -->
                <div class="main_right">
                    <div class="container">
                        <div v-for="(mes,index) in contacts[activeUser].messages" class="flex_col ">
                            <span class="pad_1 margin_1 br_1" :class="mes.status === 'received' ? 'receive' : 'sent' ">{{mes.message}}</span>
                        </div>
                    </div>
                </div>

                <!-- Foot Main Section -->
                <div class="foot_right card_pf margin_tb flex_box">
                    <div class="relative">
                        <i class="fa-solid fa-face-smile mid"></i>
                    </div>

                    <input type="text" class="input_t br_1" placeholder=" Scrivi un messaggio" v-model="text" @keyup.enter="sendMessage">

                    <div class="relative">
                        <i class="fa-solid fa-microphone mid"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
</body>
</html>