*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary: #ffffff;
    --bg-secondary: #ebebeb;

    --bg-notification: #8ddbfd;
    --bg-selec-user: #e9eceb;
    --bg-mess-what: #d5faba;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #d5faba;
}

img{
    width: 100%;
}

input{
    border: none;
}

/******
UTILITY
******/
.gap_1{
    column-gap: 1rem;
}

.pad_1{
    padding: 0.5rem;
}

.margin_1{
    margin: 0.5rem;
}

.margin_r{
    margin-right: 1rem;
}

.margin_tb{
    margin: 0.5rem 0 0.5rem 0;
}

.profile{
    border-radius: 50%;   
    position: relative;
}

.card_pf{
    height: 3rem;
    width: 3rem;
}

.icons{
    align-items: center;
}

.flex_box{
    display: flex;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.inline{
    display: inline-block;
}

.relative{
    position: relative;
}

.br_1{
    border-radius: 10px;
}

/*********
CONTAINERS
**********/
.container{
    padding: 1rem;
}

.container_main{
    width: 90%;
    margin: auto;
    display: flex;
}

.aside_right{
    width: 70%;
}

.aside_left{
    width: 30%;
}

.top_aside{
    justify-content: space-between;
}

.main_left{
    display: flex;
    flex-direction: column;
}

.main_right{
    height: 100%;
    background-image: url(./img/mine.jpg);
}

.foot_right{
    width: 100%;
}

.contact_box{
    height: 400px;
    overflow-y: scroll;
}

/*********
BODY STYLE
**********/

.bg_first{
    background-color: var(--bg-primary);
}

.bg_second{
    background-color: var(--bg-secondary);
}

.bg_not{
    background-color: var(--bg-notification);
}

.bg_user{
    background-color: var(--bg-selec-user);
}

/*********
TEXT STYLE
*********/
.input_t{
    width: 100%;
}

.main_left .search{
    width: 10%;
}

.foot_right .input_t{
    width: 85%;
}

.foot_right div{
    width: calc(15% / 2);
}

.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mid_v{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

/********
FUNCTIONS
********/

.active{
    background-color: var(--bg-selec-user);
}

.sent{
    align-self: flex-end;
    background-color: var(--bg-mess-what);
}

.receive{
    background-color: var(--bg-primary);
    align-self: flex-start;
}
